//保留2位小数
var toFixed_2 = function (value) {
  return parseFloat(value).toFixed(2)
}
//毫秒转时间2017-08-20 12:12:12 //wxs 获取当前日期不可以使用 new Date()，而需要使用 getDate() 代替。*/
var formatTime = function(date) {
  var d = getDate(+date * 1000)
  return [d.getFullYear(), formatNumber(d.getMonth()+1), formatNumber(d.getDate())].join('-')
    + ' '
    + [formatNumber(d.getHours()), formatNumber(d.getMinutes()), formatNumber(d.getSeconds())].join(':')
}

/**
 * 质朴长存法 =>不足位步0 by lifesinger
 * @param value
 */
var formatNumber = function(n) {
  n = n.toString()
  return n[1] ? n : '0' + n
}
module.exports = {
  toFixed_2: toFixed_2,
  formatTime: formatTime
}
